[submodule "quill-sharedb-cursors"]
	path = quill-sharedb-cursors
	url = https://github.com/pedrosanta/quill-sharedb-cursors
[submodule "sharedb/sharedb"]
	path = sharedb/sharedb
	url = https://github.com/share/sharedb
[submodule "sharedb/derby-examples"]
	path = sharedb/derby-examples
	url = https://github.com/derbyjs/derby-examples.git
[submodule "sharedb/derby"]
	path = sharedb/derby
	url = https://github.com/derbyjs/derby
